[Unit]
Description=Battery warning check timer
Requires=battery-warning.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=30s

[Install]
WantedBy=timers.target
