[Unit]
Description=Clipboard history with cliphist
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --watch /usr/bin/cliphist store
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
