[Unit]
Description=Swayidle idle manager
Documentation=https://github.com/swaywm/swayidle
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
    timeout 300 '%h/.config/sway/lock.sh' \
    timeout 600 'swaymsg "output * dpms off"' \
    resume 'swaymsg "output * dpms on"' \
    before-sleep '%h/.config/sway/lock.sh'
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
