[Unit]
Description=Waybar status bar
Documentation=https://github.com/Alexays/Waybar
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar -c %h/.config/waybar/sway-config.jsonc -s %h/.config/waybar/sway-style.css
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
