[user]
  name = Harry Mahardhika
  email = harrymahardhika@gmail.com

[core]
  autocrlf = input                # keep newlines as in input
  compression = 9                 # trade CPU for network
  editor = /usr/local/bin/nvim
  excludesfile = /Users/harry/.gitignore_global
  fsync = none
  preloadindex = true             # preload index for faster status
  whitespace = error              # treat incorrect whitespace as errors
  pager = delta                   # use delta for paging diffs

[init]
  defaultBranch = main

[advice]                           # disable advices
  addEmptyPathspec = false
  pushNonFastForward = false
  statusHints = false

[alias]
  amend = commit --amend -C HEAD
  br = branch
  c = commit
  cm = commit -m
  co = checkout
  ds = diff --staged
  graph = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lgg = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'
  p = push
  st = status -sb
  standup = log --since '1 day ago' --oneline --author <harrymahardhika@gmail.com>
  tlog = log --stat --since='1 day ago' --graph --pretty=oneline --abbrev-commit --date=relative
  wtf = git-wtf -r -A
  zip = archive --format zip --output archive.zip master

[blame]
  coloring = highlightRecent
  date = relative

[color "blame"]
  highlightRecent = black bold,1 year ago,white,1 month ago,default,7 days ago,blue

[color "branch"]
  current  = magenta
  local    = default
  plain    = blue
  remote   = yellow
  upstream = green

[color "diff"]
  context    = white
  frag       = magenta
  meta       = black bold
  old        = red
  whitespace = yellow reverse

[color.decorate]
  HEAD         = red
  branch       = blue
  remoteBranch = magenta
  tag          = yellow

[diff]
  context = 3                        # less context in diffs
  interHunkContext = 10              # merge near hunks in diffs
  renames = copies                   # detect copies as renames in diffs
  tool = nvimdiff

[merge]
  tool = nvimdiff

[merge "ours"]
  driver = true

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[interactive]
  singlekey = true
  diffFilter = delta --color-only

[log]
  abbrevCommit = true                # short commits
  graphColors = blue,yellow,cyan,magenta,green,red

[pull]
  rebase = false

[push]
  autoSetupRemote = true             # easier to push new branches
  default = current                  # push only current branch by default
  followTags = true                  # push tags as well
  gpgSign = false                    # remotes don't support signed pushes

[status]
  branch = true
  short = true

[delta]
  line-numbers = true
  navigate = true
  side-by-side = true
  features = line-numbers decorations

