server {
    listen 80;
    server_name {{server_name}};

    root {{root}}/public;

    index index.php index.html;

    client_max_body_size 100M;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        try_files $uri =404;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_pass unix:{{php_fpm_socket}};
    }

    location ~ /\.ht {
        deny all;
    }
}
