@import "mocha.css";

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 0.8rem;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  border-radius: 0.8rem;
  margin: 4px;
  background-color: @surface0;
  margin-left: 0.8rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 0.8rem;
  padding: 0.2rem 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 0.8rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 0.8rem;
}

#window {
  background-color: @surface0;
  margin: 4px;
  border-radius: 0.8rem;
  padding: 0.2rem 0.8rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#network,
#custom-cpu_temp,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.2rem 0.8rem;
  margin: 4px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 0.8rem 0.8rem 0px;
  margin-right: 0.8rem;
}

#battery {
  color: @green;
  border-radius: 0.8rem 0 0 0.8rem;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
}

#pulseaudio {
  color: @maroon;
  border-radius: 0.8rem 0px 0px 0.8rem;
  margin-left: 0.8rem;
}

#custom-music {
  color: @mauve;
  border-radius: 0.8rem;
}

#custom-lock {
  border-radius: 0.8rem 0px 0px 0.8rem;
  color: @lavender;
}

#custom-power {
  margin-right: 0.8rem;
  border-radius: 0.8rem;
  color: @red;
}

#tray {
  margin-right: 0.8rem;
  border-radius: 0.8rem;
}

#cpu {
  color: @blue;
  border-radius: 0.8rem;
  margin-right: 0.8rem;
}

#memory {
  color: @blue;
  border-radius: 0.8rem;
  margin-right: 0.8rem;
}

#network {
  color: @blue;
  border-radius: 0.8rem;
  margin-right: 0.8rem;
}

#custom-cpu_temp {
  color: @blue;
  border-radius: 0.8rem;
  margin-right: 0.8rem;
}

#customer-cpu_temp.critical {
  color: @red;
}
