@import "mocha.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: 500;
  font-size: 0.9rem;
  border: none;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-cpu_temp,
#memory,
#mode,
#network,
#pulseaudio,
#window,
#workspaces {
  padding: 0.2rem 0.6rem;
  margin: 0.2rem;
  background: @surface0;
  border-radius: 0.4rem;
}

/* Color-coded modules */
#workspaces {
  color: @blue;
}

#window {
  color: @sapphire;
}

#network {
  color: @green;
}

#pulseaudio {
  color: @mauve;
}

#battery {
  color: @peach;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#battery.critical:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#memory {
  color: @sky;
}

#cpu {
  color: @pink;
}

#custom-cpu_temp {
  color: @flamingo;
}

#clock {
  color: @lavender;
}

#mode {
  color: @red;
  font-weight: bold;
}

#clock.time {
  margin-right: 0;
  border-radius: 0.4rem 0 0 0.4rem;
}

#clock.date {
  margin-left: 0;
  border-radius: 0 0.4rem 0.4rem 0;
}

#workspaces {
  padding-left: 0.4rem;
  padding-right: 0;
  margin-right: 0;
  border-radius: 0.4rem 0 0 0.4rem;
}

#workspaces button {
  color: @text;
  border: none;
  padding: 0.2rem 0.4rem;
}

#workspaces button.focused,
#workspaces button.active {
  color: @blue;
}

#workspaces button:hover {
  border: none;
  background: transparent;
  box-shadow: none;
}

#window {
  margin-left: 0;
  border-radius: 0 0.4rem 0.4rem 0;
  color: @blue;
}

#cpu {
  border-radius: 0.4rem 0 0 0.4rem;
  margin-right: 0;
}

#custom-cpu_temp {
  border-radius: 0 0.4rem 0.4rem 0;
  margin-left: 0;
  padding-left: 0;
}
