configuration{
  modi: "run,drun";
  icon-theme: "Oranchelo";
  show-icons: false;
  terminal: "ghostty";
  drun-display-format: "{icon} {name}";
  location: 0;
  disable-history: false;
  hide-scrollbar: true;
  display-drun: "   Apps ";
  display-run: "   Run ";
  sidebar-mode: false;
}

@theme "catppuccin-mocha"

